  <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
     
    <div *ngFor="let item of steps">
        
    <mat-step  [completed]="isCompleted">    
      <ng-template matStepLabel>{{item.step}}</ng-template>
      <div class="text-center"><h4 class="head">{{item.title}}</h4></div>
      <ng-template wf-host [widgetType]="getWidgetType(item.step)" ></ng-template>
    </mat-step>   
        
     </div> 


 
  <!-- <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step> -->
    
  </mat-horizontal-stepper>

  <pre>{{ formData | json }}</pre>
  


