<div class="board-inner" id="status-buttons">  
  <ul class="nav nav-tabs" id="myTab">

    <div class="liner"></div>
    <li *ngFor="let step of workflowService.workflow.steps;index as i;" [style.width.%]="100/workflowService.workflow.steps.length">          

          <a routerLink="{{step.step}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" data-toggle="tab" title="{{step.step}}">
              <span [class]="getTabClass(i)">
                <i class="{{step.icon}}"></i>
              </span>
            </a>
    </li>  
  </ul>
  <div class="clearfix"></div>
</div>
