:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 97vw;
  background-image: url('../../assets/background3.jpg');
  background-position: center center;
  background-size: cover;
}

.sign-in-form {
    min-width: 300px;
    background-color: white;
    opacity: .93;
    padding: 20px;
}

a {
    line-height: 32px;
}
button {
    float: right;
}

.message {
    float: right;
}


.loginBox {
    max-width:  90%;
    width: 330px
  }
  .example-full-width{
    width: 100%;
  }

  .center-align{
    display: flex;  
    justify-content: center;
  }
